*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: 'IBM Plex Serif', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  overflow: hidden;
  background-color: #4f5c75;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 5px; /* Important for vertical align on mobile phones */
  font-weight: 700;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4f5c75;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.validationForm{
  line-height: 2em;
  text-align: right;
}

.form-label{
  color: #BF622C;
}

.validationForm button{
  background-color: #BF622C;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 5px 5px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.267);
}

.form-container{
  border-radius: 15px;
  padding: 10px;
  width: 340px;
  position: absolute;
  top: 15vh;
  left: 42vw;
  background-color: #F3C5AA;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.267);
}

.invalid-feedback{
  color: rgba(255, 0, 0, 0.733);
}
